<footer class="bg-light text-dark text-center py-4 mt-auto">
    <p>TWEB Assignment 2025-2026</p>
    <p>© 2025-2026 BudauGuanti</p>
    <img src="/images/gitlab.png" alt="Gitlab logo" height="32">
    <a href="https://gitlab2.educ.di.unito.it/st182487/HCI-TWEB_2025-26">GitLab</a></p>
    <p class="float-right"><a href="#">Back to top</a></p>
</footer>