<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Anime website</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Anime</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Character</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Person</a></li>
                </ul>
            </div>
        </div>
    </nav>
</nav>