body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ca2222;
}

   /* Forces all the card images to a fixed size: 200x300px */
.anime-img {
   width: 100%;
   height: 300px;
   object-fit: cover; /* cut the image without resizing it */
}

.person-img {
    width: 100%;
    height: 300px;
    object-fit: contain; /* mantiene proporzioni e mostra tutta l'immagine */
    background-color: black; /* per riempire lo spazio vuoto */
}
.rank-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 15px;
    left: 15px;
    background-color: gray;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 10;
}
.white-text {
    color: whitesmoke;
    font-size: 16px;
}

.container {
    color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*todo use these*/
.card { transition: transform 0.2s; cursor: pointer; }
.card:hover { transform: translateY(-5px); box-shadow: 0 10px 20px rgba(0,0,0,0.1); }
